version: '3.7'

services:
  web:
    image: lery/cdse-core:latest
    entrypoint: ./docker-entrypoint.sh
    expose:
      - 8000
    volumes:
      - static_volume:/app/static
    env_file:
      - ./.env.prod
    depends_on:
      - db
  db:
    image: postgres:12.3-alpine
    volumes:
      - postgres_data:/var/lib/postgresql/12/data/
    env_file:
      - ./.env.db.prod
  nginx:
    build: ./nginx
    volumes:
      - static_volume:/app/static
    ports:
      - 80:80
    depends_on:
      - web

volumes:
  postgres_data:
  static_volume: