[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
mypy = "*"

[packages]
django = "==3.2.*"
unittest-xml-reporting = "*"
gunicorn = "*"
psycopg2 = "*"
mozilla-django-oidc = "*"
black = "==21.6b0"
coverage = "*"
fhirclient = {git = "https://github.com/smart-on-fhir/client-py"}
responses = "*"
djangorestframework = "*"
requests = "*"
django-extensions = "*"
pyparsing = "*"
pydot = "*"
docker = "*"
rdflib = "*"
sparqlwrapper = "*"

[requires]
python_version = "3.8"
